*{
  box-sizing: border-box;
}
html body{
  margin: 20px;
  background-color: white;
}
html header {
  border: .5px solid teal;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}
html header img {
  float: left;
}
header h1 {
  font-size: 2em;
  float: left;
  margin-top: .25em;
}
header nav {
  float: right;
/*   border: 1px solid black; */
  position: relative;
}
header nav li {
  display:inline;
  float: right;
  margin: 0px 0px 0px 0px;
  padding: .5em;
  border: 2px solid black;
  line-height: 1.5em;
  margin-top: 20px;
  border-radius: 15px 15px 0px 0px;
}
main {
  border: 2px dotted red;
  width: 100%;
  position: relative;
  height: 500px;
}
main div {
  border: 2px dotted blue;
  height: 100%;
  width: 20%;
  float: left;
}
main span {
  border: 2px dashed yellow;
  width: 80%;
  float: left;
  position: relative;
  overflow: hidden;
}
main span figure {
  border: 2px solid black;
  display: inline-block;
  padding: 5px;
  width: 90%;
  align-content: center;
  margin-bottom: 5px;
  overflow: hidden;
  height: 200px;
  position: relative;
}
figure img{
  max-width:32%;
  max-height: 200px;
  border: 2px solid black;
  margin: 1%;
  vertical-align: middle;

}
#resultsSidebar{
  overflow: scroll;
  max-height: 100%;
  position: relative;
  list-style-type: circle;
}
#results {
  list-style-type: square;
}
button {
  width: 100%;
  border: 1 solid yellow;
}